@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: "iransans";
  src: local("iransans"), url("./font/IRANSans_Medium.ttf") format("truetype");
  font-display:swap;
}
@font-face {
  font-family: "iransansbold";
  src: local("iransansbold"), url("./font/IRANSansX-Bold.ttf") format("truetype");
  font-display:swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:iransans
}
